/* Project Specific CSS */

.caspio table {
    width: 100%;
    margin-bottom: 10px;
}
    
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


a {
  font-weight: bold;
}

